@model List<WebAppAI.Models.SentimentResultModel>
@using ProjektTI.Resources;
@ResultLabels.MessageLabel
@{
    ViewData["Title"] = ResultLabels.ResultTitle;
}

<h2>Wyniki analizy sentymentu</h2>

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>@ResultLabels.MessageLabel</th>
            <th>@ResultLabels.Confidence</th>
            <th>@ResultLabels.Sentiment</th>
            <th>@ResultLabels.WordCount</th>
            <th>@ResultLabels.CharCount</th>
            <th>@ResultLabels.Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>@result.ToShortPreview(100)</td>
                <td>@result.Sentiment</td>
                <td>@result.ToConfidencePercent()</td>
                <td>@result.WordCount</td>
                <td>@result.CharCount</td>
                <td>@result.Timestamp.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="ExportToPdf" method="get">
    <button type="submit" class="btn btn-success">@ResultLabels.ExpToPdf</button>
</form>

<a asp-action="Index" class="btn btn-secondary mt-2">@ResultLabels.BckToForm</a>
